body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}
img{
    width: 60%;
    height: 70%;
}
button{
    margin-top: 60px;
    width: 110px;
    height: 35px;
    border: none;
    background-color: #ff523b;
    border-radius: 20px;
}
button a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-family: sans-serif;
}
button:hover{
    background-color:#4886d7;
}