*{
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
body{
    background: radial-gradient(#fff, #f3b498);
    margin: 0;
    font-family: sans-serif;

}
.register{
    width: 30%;
    background: #ffffff;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.register h1{
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;

}
p, a{
    font-size: 20px;
}
.register form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"]{
width: 25vw;
height: 60px;
border: 1px solid #dee0e4;
margin-bottom: 20px;
padding: 0 15px;
border-radius: 50px;
font-family: sans-serif;
/* font-weight: bold; */
font-size: 20px;
/* text-transform: capitalize; */
}
.register form input[type="submit"]{
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    background: #ff523b;
    border: 0;
    cursor: pointer;
    /* font-weight: bold; */
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 50px;
    font-size: 20px;
    
    
}
.register form input[type="submit"]:hover{
    background-color: #2868c7;
    transition: background-color 0.2s;
}
